{
  "openapi": "3.0.3",
  "info": {
    "title": "AgroApp API",
    "version": "2.0.0",
    "description": "API REST de AgroApp (TP Desarrollo de Software 2025, UTN FRRo). Conecta productores agropecuarios con contratistas rurales.\n\nAutenticación con JWT: obtener el token en `POST /auth/login` y usar el botón **Authorize**. Roles: ADMIN, PRODUCTOR, CONTRATISTA."
  },
  "servers": [
    {
      "url": "https://api.agroapp.dev",
      "description": "Servidor actual"
    },
    {
      "url": "https://api.agroapp.dev",
      "description": "Producción"
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Usuarios"
    },
    {
      "name": "Provincias"
    },
    {
      "name": "Localidades"
    },
    {
      "name": "Categorías"
    },
    {
      "name": "Insumos"
    },
    {
      "name": "Contratistas"
    },
    {
      "name": "Servicios"
    },
    {
      "name": "Precios"
    },
    {
      "name": "Campos"
    },
    {
      "name": "Solicitudes"
    },
    {
      "name": "Valoraciones"
    },
    {
      "name": "Sistema"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Token devuelto por POST /auth/login. Enviar como `Authorization: Bearer <token>`."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Código estable: VALIDATION_ERROR, UNAUTHORIZED, FORBIDDEN, NOT_FOUND, DUPLICATE, IN_USE, INVALID_TRANSITION…"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "nullable": true,
            "description": "En errores de validación, lista de { path, message }"
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "Usuario": {
        "type": "object",
        "properties": {
          "id_user": {
            "type": "number"
          },
          "email": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          },
          "apellido": {
            "type": "string"
          },
          "cuil_cuit": {
            "type": "string",
            "nullable": true
          },
          "telefono": {
            "type": "string",
            "nullable": true
          },
          "fecha_nac": {
            "type": "string",
            "nullable": true
          },
          "domicilio": {
            "type": "string",
            "nullable": true
          },
          "id_localidad": {
            "type": "number",
            "nullable": true
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ADMIN",
                "PRODUCTOR",
                "CONTRATISTA"
              ]
            }
          },
          "productor": {
            "type": "object",
            "nullable": true,
            "properties": {
              "razon_social": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "razon_social"
            ]
          },
          "contratista": {
            "type": "object",
            "nullable": true,
            "properties": {
              "descripcion": {
                "type": "string",
                "nullable": true
              },
              "anios_experiencia": {
                "type": "number",
                "nullable": true
              }
            },
            "required": [
              "descripcion",
              "anios_experiencia"
            ]
          }
        },
        "required": [
          "id_user",
          "email",
          "nombre",
          "apellido",
          "cuil_cuit",
          "telefono",
          "fecha_nac",
          "domicilio",
          "id_localidad",
          "roles",
          "productor",
          "contratista"
        ]
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "user": {
            "$ref": "#/components/schemas/Usuario"
          }
        },
        "required": [
          "token",
          "user"
        ]
      },
      "Page_Usuarios": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "total",
          "page",
          "pageSize",
          "totalPages"
        ]
      },
      "Page_Contratistas": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "total",
          "page",
          "pageSize",
          "totalPages"
        ]
      },
      "Page_Servicios": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "total",
          "page",
          "pageSize",
          "totalPages"
        ]
      },
      "Page_Solicitudes": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {},
              "additionalProperties": {
                "nullable": true
              }
            }
          },
          "total": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "pageSize": {
            "type": "number"
          },
          "totalPages": {
            "type": "number"
          }
        },
        "required": [
          "items",
          "total",
          "page",
          "pageSize",
          "totalPages"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Sistema"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Iniciar sesión",
        "requestBody": {
          "description": "Credenciales",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token JWT y usuario",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Registro público como PRODUCTOR o CONTRATISTA",
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 72
                  },
                  "nombre": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "apellido": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "rol": {
                    "type": "string",
                    "enum": [
                      "PRODUCTOR",
                      "CONTRATISTA"
                    ]
                  },
                  "id_localidad": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d+$"
                  },
                  "telefono": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 6,
                    "maxLength": 30
                  }
                },
                "required": [
                  "email",
                  "password",
                  "nombre",
                  "apellido",
                  "rol"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Usuario creado y logueado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Usuario autenticado",
        "description": "Requiere rol: ADMIN o PRODUCTOR o CONTRATISTA.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Perfil",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usuario"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "Editar el propio perfil (datos personales y del subtipo; sin roles ni email)",
        "description": "Requiere rol: ADMIN o PRODUCTOR o CONTRATISTA.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "apellido": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "cuil_cuit": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d{2}-\\d{8}-\\d$"
                  },
                  "telefono": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 6,
                    "maxLength": 30
                  },
                  "fecha_nac": {
                    "type": "string",
                    "nullable": true,
                    "format": "date-time"
                  },
                  "domicilio": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255
                  },
                  "id_localidad": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d+$"
                  },
                  "razon_social": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 150
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 600
                  },
                  "anios_experiencia": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 0,
                    "maximum": 80
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perfil actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usuario"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me/password": {
      "put": {
        "tags": [
          "Auth"
        ],
        "summary": "Cambiar contraseña (requiere la actual)",
        "description": "Requiere rol: ADMIN o PRODUCTOR o CONTRATISTA.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Contraseñas",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password_actual": {
                    "type": "string",
                    "minLength": 1
                  },
                  "password_nueva": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 72
                  }
                },
                "required": [
                  "password_actual",
                  "password_nueva"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me/resumen": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Resumen para el dashboard (solicitudes por estado, próximos trabajos, contadores)",
        "description": "Requiere rol: ADMIN o PRODUCTOR o CONTRATISTA.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resumen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usuarios": {
      "get": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Listar usuario",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "pageSize",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "ADMIN",
                "PRODUCTOR",
                "CONTRATISTA"
              ]
            },
            "required": false,
            "name": "role",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_localidad",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Usuarios"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Crear usuario",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "apellido": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "cuil_cuit": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d{2}-\\d{8}-\\d$"
                  },
                  "telefono": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 6,
                    "maxLength": 30
                  },
                  "fecha_nac": {
                    "type": "string",
                    "nullable": true,
                    "format": "date-time"
                  },
                  "domicilio": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255
                  },
                  "id_localidad": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d+$"
                  },
                  "razon_social": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 150
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 600
                  },
                  "anios_experiencia": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 0,
                    "maximum": 80
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 72
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ADMIN",
                        "PRODUCTOR",
                        "CONTRATISTA"
                      ]
                    },
                    "minItems": 1
                  }
                },
                "required": [
                  "nombre",
                  "apellido",
                  "email",
                  "password",
                  "roles"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/usuarios/{id}": {
      "get": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Detalle de usuario",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Actualizar usuario",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "apellido": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "cuil_cuit": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d{2}-\\d{8}-\\d$"
                  },
                  "telefono": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 6,
                    "maxLength": 30
                  },
                  "fecha_nac": {
                    "type": "string",
                    "nullable": true,
                    "format": "date-time"
                  },
                  "domicilio": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255
                  },
                  "id_localidad": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d+$"
                  },
                  "razon_social": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 150
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 600
                  },
                  "anios_experiencia": {
                    "type": "integer",
                    "nullable": true,
                    "minimum": 0,
                    "maximum": 80
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 72
                  },
                  "roles": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "ADMIN",
                        "PRODUCTOR",
                        "CONTRATISTA"
                      ]
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Usuarios"
        ],
        "summary": "Eliminar usuario",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Eliminado"
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/provincias": {
      "get": {
        "tags": [
          "Provincias"
        ],
        "summary": "Listar provincia",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Provincias"
        ],
        "summary": "Crear provincia",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  }
                },
                "required": [
                  "nombre"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/provincias/{id}": {
      "get": {
        "tags": [
          "Provincias"
        ],
        "summary": "Detalle de provincia",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Provincias"
        ],
        "summary": "Actualizar provincia",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  }
                },
                "required": [
                  "nombre"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Provincias"
        ],
        "summary": "Eliminar provincia",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Eliminado"
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/localidades": {
      "get": {
        "tags": [
          "Localidades"
        ],
        "summary": "Listar localidad",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_provincia",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Localidades"
        ],
        "summary": "Crear localidad",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id_provincia": {
                    "type": "string",
                    "pattern": "^\\d+$"
                  },
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "codigo_postal": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 16
                  }
                },
                "required": [
                  "id_provincia",
                  "nombre"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/localidades/{id}": {
      "get": {
        "tags": [
          "Localidades"
        ],
        "summary": "Detalle de localidad",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Localidades"
        ],
        "summary": "Actualizar localidad",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "codigo_postal": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 16
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Localidades"
        ],
        "summary": "Eliminar localidad",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Eliminado"
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/categorias-servicio": {
      "get": {
        "tags": [
          "Categorías"
        ],
        "summary": "Listar categoría de servicio",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Categorías"
        ],
        "summary": "Crear categoría de servicio",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255
                  }
                },
                "required": [
                  "nombre"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/categorias-servicio/{id}": {
      "get": {
        "tags": [
          "Categorías"
        ],
        "summary": "Detalle de categoría de servicio",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Categorías"
        ],
        "summary": "Actualizar categoría de servicio",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Categorías"
        ],
        "summary": "Eliminar categoría de servicio",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/insumos": {
      "get": {
        "tags": [
          "Insumos"
        ],
        "summary": "Listar insumo (con precio de referencia y unidad)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Insumos"
        ],
        "summary": "Crear insumo (con precio de referencia y unidad)",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255
                  },
                  "unidad": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20,
                    "default": "unidad"
                  },
                  "precio_referencia": {
                    "type": "number",
                    "nullable": true,
                    "minimum": 0,
                    "maximum": 999999999
                  }
                },
                "required": [
                  "nombre",
                  "precio_referencia"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/insumos/{id}": {
      "get": {
        "tags": [
          "Insumos"
        ],
        "summary": "Detalle de insumo (con precio de referencia y unidad)",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Insumos"
        ],
        "summary": "Actualizar insumo (con precio de referencia y unidad)",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 255
                  },
                  "unidad": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 20,
                    "default": "unidad"
                  },
                  "precio_referencia": {
                    "type": "number",
                    "nullable": true,
                    "minimum": 0,
                    "maximum": 999999999
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Insumos"
        ],
        "summary": "Eliminar insumo (con precio de referencia y unidad)",
        "description": "Requiere rol: ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contratistas": {
      "get": {
        "tags": [
          "Contratistas"
        ],
        "summary": "Listado público de contratistas",
        "description": "Con `id_campo` filtra por la localidad del campo (cercanía) y, si no hay resultados, por su provincia; `alcance` indica cuál aplicó. Incluye servicios activos con precio vigente, valoración promedio y trabajos completados.",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "pageSize",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_localidad",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_provincia",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_campo",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_categoria",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Page_Contratistas"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "alcance": {
                          "type": "string",
                          "enum": [
                            "localidad",
                            "provincia",
                            "todos"
                          ]
                        }
                      },
                      "required": [
                        "alcance"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contratistas/{id}": {
      "get": {
        "tags": [
          "Contratistas"
        ],
        "summary": "Perfil público de un contratista con servicios y valoraciones",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Contratista",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/servicios": {
      "get": {
        "tags": [
          "Servicios"
        ],
        "summary": "Catálogo de servicios activos (paginado, con precio vigente)",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "default": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 100,
              "default": 20
            },
            "required": false,
            "name": "pageSize",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "maxLength": 120
            },
            "required": false,
            "name": "q",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_categoria",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_contratista",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_provincia",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "pattern": "^\\d+$"
            },
            "required": false,
            "name": "id_localidad",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "required": false,
            "name": "incluir_inactivos",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Listado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_Servicios"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Servicios"
        ],
        "summary": "Publicar un servicio (CUU)",
        "description": "El servicio pertenece al contratista autenticado. `precio_inicial` crea el precio vigente desde hoy.\n\nRequiere rol: CONTRATISTA.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 500
                  },
                  "id_categoria": {
                    "type": "string",
                    "pattern": "^\\d+$"
                  },
                  "precio_inicial": {
                    "type": "number",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "maximum": 999999999
                  }
                },
                "required": [
                  "nombre",
                  "id_categoria"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/servicios/{id}": {
      "get": {
        "tags": [
          "Servicios"
        ],
        "summary": "Detalle con historial de precios",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Servicio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Servicios"
        ],
        "summary": "Actualizar servicio (nombre, descripción, categoría, activo)",
        "description": "Requiere rol: CONTRATISTA o ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nombre": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120
                  },
                  "descripcion": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 500
                  },
                  "id_categoria": {
                    "type": "string",
                    "pattern": "^\\d+$"
                  },
                  "activo": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Servicios"
        ],
        "summary": "Desactivar servicio (baja lógica)",
        "description": "Requiere rol: CONTRATISTA o ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Servicio desactivado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/precios/servicio/{id_servicio}": {
      "get": {
        "tags": [
          "Precios"
        ],
        "summary": "Historial de precios del servicio",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "id_servicio",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Historial desc",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": {
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/precios/servicio/{id_servicio}/vigente": {
      "get": {
        "tags": [
          "Precios"
        ],
        "summary": "Precio vigente (mayor fecha_desde ≤ hoy)",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true
            },
            "required": true,
            "name": "id_servicio",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Precio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/precios/{id}": {
      "get": {
        "tags": [
          "Precios"
        ],
        "summary": "Detalle de precio",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Precio",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Precios"
        ],
        "summary": "Actualizar precio",
        "description": "Requiere rol: CONTRATISTA o ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "description": "Datos",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fecha_desde": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "valor": {
                    "type": "number",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "maximum": 999999999
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {
                    "nullable": true
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Sin permisos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflicto de negocio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Precios"
        ],
        "summary": "Eliminar precio (no el único vigente de un servicio activo)",
        "description": "Requiere rol: CONTRATISTA o ADMIN.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Identificador numérico"
            },
            "required": true,
            "description": "Identificador numérico",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Sin token o token inválido",
            "content": {
              "application/json": {
                "schema": {
[...]
